
@import url('./reset.css');
img {
  width: 300px;
    height: 200px;
}

.js-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding: 36px 0;
}

.search-input {
width: 238px;
  text-align: left;
border-radius: 4px;
  border: 1px solid #808080;
  background: #FFF;
  padding: 8px 16px;
  color: #808080;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.search-input:hover {
  border: 1px solid #000000;
}

.search-button {
 width: 91px;
height: 40px;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  background-color: #4E75FF;
  color: white;
}

.search-button:hover {
  background: #6C8CFF;
}

.js-search-form {
  display: flex;
  gap: 8px;
  justify-content: center;
}


.gallery-word {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  border: 1px solid #626aa5;
  border-top: none;
  padding: 10px 0;
}

.title {
color: #2E2F42;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.count {
  color: #2E2F42;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
  text-align: center;
}

.loader {
  color: #111;
  text-align: center;
}

.hidden {
  display: none;
}

.load-more {
  width: 125px;
  height: 40px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  background: #4E75FF;
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}
