/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
img {
  width: 360px;
    height: 200px;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: Montserrat, sans-serif;
}

section {
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
}

.search-input {
  width: 60%;
  font-size: 16px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px 0 0 4px;
}

.search-button {
  color: #fff;
  background-color: #4e75ff;
  border: none;
  padding: 8px 16px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.loader {
  display: none;
}

.js-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding: 36px 16px;
}

.gallery-item {
  list-style: none;
  margin-bottom: 20px;
  max-width: 300px;
}

.gallery-link {
  display: block;
  text-decoration: none;
}

.gallery-link:hover img {
  opacity: 0.8;
}

.gallery-word {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  border: 1px solid #626aa5;
  border-top: none;
  padding: 10px 0;
}

.title {
  color: #2e2f42;
  font-size: 12px;
  font-weight: 600;
}

.count {
  color: #2e2f42;
  font-size: 12px;
}

.load-more-btn {
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  background-color: #4e75ff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.load-more-btn:hover {
  background-color: #6c8cff;
}
.gallery-opis {
  text-align: center;
}